In [77]:
import urllib.request, json 
with urllib.request.urlopen("http://timelapsestorage.s3.amazonaws.com/test/test.json") as url:
    data = json.loads(url.read().decode())
    print(data)

{'datas': [{'s3id': '5f75ddca787dad53dd5302e1a910e3ef', 'img': '2022_04_27_08_43_07'}, {'s3id': '2014f780d9b353abaa7bc635371f6394', 'img': '2022_04_27_16_16_21'}]}

In [ ]:
liste=data['datas']

In [110]:
url=[]
base="s3://timelapsestorage/"
for x in range(0,len(liste)):
    l=liste[x]
    s3id=l['s3id']
    print(s3id)
    img=l['img']
    
    link=base+s3id+"/HIGH/"+img
    url.append(link)
print(url)

5f75ddca787dad53dd5302e1a910e3ef
2014f780d9b353abaa7bc635371f6394
['s3://timelapsestorage/5f75ddca787dad53dd5302e1a910e3ef/HIGH/2022_04_27_08_43_07', 's3://timelapsestorage/2014f780d9b353abaa7bc635371f6394/HIGH/2022_04_27_16_16_21']

In [113]:
import cv2
import torch
from PIL import Image
import pandas as pd
# Model
model = torch.hub.load('ultralytics/yolov5', 'yolov5s')

# Images
for f in 'zidane.jpg', 'bus.jpg':
    torch.hub.download_url_to_file('https://ultralytics.com/images/' + f, f)  # download 2 images
im1 = Image.open('zidane.jpg')  # PIL image
im2 = cv2.imread('bus.jpg')[..., ::-1]  # OpenCV image (BGR to RGB)
imgs = [im1, im2]  # batch of images

# Inference
results = model(imgs, size=640)  # includes NMS

Using cache found in C:\Users\anis/.cache\torch\hub\ultralytics_yolov5_master
YOLOv5  2022-4-27 torch 1.10.0+cu102 CUDA:0 (NVIDIA GeForce GTX 1650 Ti, 4096MiB)

Fusing layers...
YOLOv5s summary: 213 layers, 7225885 parameters, 0 gradients, 16.5 GFLOPs
Adding AutoShape...

  0%|          | 0.00/165k [00:00<?, ?B/s]

  0%|          | 0.00/476k [00:00<?, ?B/s]

In [118]:
results_list=[] 
for x in range(0,len(imgs)):
   results_list.append(results.pandas().xyxy[x])

#concatenate the pandas    
finale_result=pd.concat(results_list)
helmets=finale_result.loc[finale_result['class'] == 0, 'class'].count()
heads=finale_result.loc[finale_result['class'] == 1, 'class'].count()

In [201]:
df = pd.DataFrame(

    {

        "s3id": [],

        "s3img": [],

        "nb_heads": [],

        "nb_helmets": [],

    },
    
)

In [202]:

df=df.append({'s3id':s3id,'s3img':img,'nb_heads':heads,'nb_helmets':helmets}, ignore_index=True)
df

                               s3id                s3img  nb_heads  nb_helmets
0  2014f780d9b353abaa7bc635371f6394  2022_04_27_16_16_21       2.0         6.0

In [204]:
json=df.to_json(orient="records")
json

'[{"s3id":"2014f780d9b353abaa7bc635371f6394","s3img":"2022_04_27_16_16_21","nb_heads":2.0,"nb_helmets":6.0}]'

In [188]:
#using the insert function:
df.insert(location, column_name, list_of_values) 
#example
df.insert(0, 'new_column', ['a','b','c'])
#explanation:
#put "new_column" as first column of the dataframe
#and puts 'a','b' and 'c' as values

#using array-like access:
df['new_column_name'] = value

NameError: name 'df' is not defined

In [159]:
heads=2
helmets=0
#df1 = df1.append({'s3id': s3id},{'s3img': img})
#df1 = df1.append({'s3img': img},ignore_index=True)
df1['s3id']=s3id
df1

Empty DataFrame
Columns: [s3id, s3img, heads, helmets]
Index: []

In [186]:
filename = "test.json"
obj = {
    
    #"s3id": s3id,
    #"s3img": img,
    "nb_helmets" : helmets,
    "nb_heads" : heads
}
with open(filename, "w") as out_file:
    json.dump(obj, out_file)

AttributeError: 'str' object has no attribute 'dump'

In [152]:
tempDf = pd.DataFrame(columns=['PRODUCT','CAT_ID','MARKET_ID'])
tempDf['PRODUCT'] = df['PRODUCT']
tempDf['CAT_ID'] = catid
tempDf['MARKET_ID'] = 13

finalDf = pd.concat([finalDf,tempDf])

NameError: name 'df' is not defined

In [ ]:
s3://timelapsestorage/$s3id/HIGH/$img

In [ ]:
s3://timelapsestorage/$s3id/HIGH/$img

In [ ]:
l=liste[0]

In [184]:
s3id=l['s3id']
s3id

'2014f780d9b353abaa7bc635371f6394'

In [183]:
img=l['img']
img

'2022_04_27_16_16_21'